@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-repeat: no-repeat !important;
  touch-action: manipulation;
}

body {
  background-image: none !important;
  overflow-x: hidden;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
